@model RegistroGastos.Web.ViewModel.MonedaVM

@{
    ViewData["Title"] = "ListarMonedas";
}

<h1>ListarMonedas</h1>

<p>
    <a asp-action="CrearMoneda">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Moneda.DesMoneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda.UsuIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda.FecIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListadoMonedas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DesMoneda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FecIngreso)
                </td>
                <td>
                    @Html.ActionLink("Editar", "EditarMoneda", new {  id=item.IdEntidad  }) |
                    @Html.ActionLink("Detalle", "DetalleMoneda", new {  id=item.IdEntidad }) |
                    @Html.ActionLink("Eliminar", "EliminarMoneda", new {  id=item.IdEntidad })
                </td>
            </tr>
        }
    </tbody>
</table>
